{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
        - <a href="{{ author.get_absolute_url }}/update/">Edit</a>
        - <a href="{{ author.get_absolute_url }}/delete/">Delete</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no Authors in the library.</p>
    {% endif %}       
{% endblock %}