{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p><strong>Born:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Died:</strong> {{ author.date_of_death }}</p> 
  

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in books %}
      {% if book.author == author %}
      <hr>
      <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
      <p><strong>Language:</strong> {{ book.language }}</p>  
      <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}